@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');


/*  remove margin and pading from body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau SC', serif;
}